@import url('https://fonts.googleapis.com/css?family=Barlow');

p {
    color: #fff;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

body {
    background-image: url(../images/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #121212;
    max-width: 100%;
    position: absolute;
    top: 22%;
    background-size: auto 100vh;
    background-position: center top;
}

#kyleBackground {
    max-width: 100%;
}

#kyleQuestion {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 40%;
}

form {
    text-align: center;
}

input[type="text"] {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    border: 0;
    padding: 5px;
    width: 80%;
}

#submitButton {
    position: relative;
    margin: 0 auto;
    margin-top: 35px;
    width: 82%;
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    margin: 0 auto;
    padding-bottom: 2px;
}

@media (min-width: 768px) {

#kyleQuestion {
    position: relative;
    margin: 0 auto;
    margin-top: 40%;
}
    
body {
  background-size: cover;
}

}