@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i');

p {
    color: #fff;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

#demo {
    color: #fff;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
}

body {
    background-image: url(../images/img1.jpg);
    background-repeat: no-repeat;
    background-color: #121212;
    background-size: 100vh auto;
    background-position: center top;
}

#kyleBackground {
    width: 100%;
    margin-top: 66%;
}

#kyleQuestion {
  width: 80%;
  margin: 27% auto;
  text-align: center;
}

form {
}

input[type="text"] {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    border: 0;
    padding: 5px;
    width: 80%;
}

button {
    cursor: pointer;
}

#submitButton {
    position: relative;
    margin: 0 auto;
    margin-top: 35px;
    width: 82%;
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    margin: 0 auto;
    padding-bottom: 2px;
}

@media (min-width: 768px) {
    
body {
  background-size: 100% auto;
}
    
#kyleBackground {
    width: 100%;   
    margin-top: 38%;
}
    
    
#kyleQuestion {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-top: 27%; 
}

}