@import url('https://fonts.googleapis.com/css?family=Barlow');

p {
    color: #fff;
    font-family: 'Barlow', sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
}

body {
    background-image: url(../images/img1.jpg);
    background-size: cover;
}

#kyleBackground {
    position: relative;
    width: 300px;
    margin: 0 auto;
    margin-top: 40%;
}

form {
    text-align: center;
}